<launch>
  <arg name="model" default="$(find nexis_rviz)/urdf/arm_test.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  <!--
  <arg name="rvizconfig" default="$(find nexis_rviz)/config/default.rviz" />
-->
  <arg name="load_gripper" default="true" />
  <arg name="robot_description" default="robot_description"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <param name="$(arg robot_description)_semantic" command="$(find xacro)/xacro '$(find panda_moveit_config)/config/panda_arm.srdf.xacro'" />
<!--
  -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>